@page
@model Hotel.Pages.Facilities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="post">
    <div class="row">
        <div class="col-md-3">
            <input name="name" class="form-control" placeholder="Facility name"/>
        </div>
        <div class="col-md-5">
            <input name="description" class="form-control" placeholder="Facility description"/>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-outline-primary">Add Facility</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4 mb-3">
        
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Facility) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
