@page
@using Hotel.Models
@model Hotel.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Guest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Room)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td class="@(item.State switch
                       {
                           BookingState.Declined or BookingState.Canceled => "text-danger",
                           _ => "text-success"
                       })">
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.DisplayName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Employee") && item.State == BookingState.Pending)
                {
                    <br/>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                }
                @if (User.IsInRole("Employee") && item.State == BookingState.Pending)
                {
                   <form method="post" asp-page-handler="Approve" asp-route-id="@item.Id">
                       <button type="submit" class="p-0 btn btn-link text-success">Approve👍</button>
                   </form>
                   <form method="post" asp-page-handler="Decline" asp-route-id="@item.Id">
                       <button type="submit" class="p-0 btn btn-link text-danger">Decline 👎</button>
                   </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
